<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<clear/>
		<add name="connectionString" connectionString="Data Source=.\;Initial Catalog=DOANLTTQ_QUANLYHANGHOA;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="connectionStringMySQL" connectionString="server=127.0.0.1;uid=root;pwd=12345;database=DOANLTTQ_QUANLYHANGHOA" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
